/* nav styles */
nav{
align-items: center;
display:flex;
justify-content: space-between;
margin: 20px 60px; 


}
.head{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    margin:0 0 0 20px;
    background-repeat: no-repeat;
    background-size:contain, 510px 270px;
    background-position:top left,bottom right;
    
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style:normal;
  font-variation-settings:
    "wdth" 100;
}
.nav-title{
    font-weight: 800;
    font-size: 30px;
    margin-left: 60px;
    
   

}
nav ul{
    display: flex;
    align-items: center;
}
nav > h3 > .r{
    color:#FD6E0A ;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    font: size 20px;
    text-decoration: none;
    color: black
    
}
.dark-2{
    color: #474747;
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0 120px;

}
.banner-content{
    max-width: 300px
    ;
}
.subtitle{
    font-weight: 600;
    word-spacing: 5px;
    font-size: 20px;

}
.title{
    font-weight:bold;
    font-size: 45px;
    

}
.banner-profile-pic{
    width: 300px;
}